*.o
.DS_Store
.*.swp
/env
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/package/openwrt-packages
/package/capp
/package/autelan-shell
/files/etc/.version
/fileno
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
